<div class="container-fluid">
<div class="row">
<div class="col-lg-6 clo-lg-offset-3">
<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong style="font: bold;">Bookers</strong>!</h1>
</div>
</div>
</div>
